absl-py @ file:///tmp/build/80754af9/absl-py_1600297512717/work
astor==0.8.1
attrs==20.3.0
beautifulsoup4==4.9.3
billiard==3.6.3.0
bs4==0.0.1
cachetools==4.1.1
certifi==2020.6.20
cffi==1.15.1
chardet==3.0.4
cnb==0.9.3
cryptography==37.0.4
cycler==0.10.0
cycommon-lib==0.0.0
Cython==0.29.21
dabest==0.3.1
dataclasses==0.7
dill==0.3.3
et-xmlfile==1.0.1
fsspec==0.8.4
future==0.18.2
gast @ file:///tmp/build/80754af9/gast_1597433534803/work
gensim==3.8.3
google-auth==1.22.1
google-auth-oauthlib==0.4.1
google-pasta==0.2.0
googleapis-common-protos==1.52.0
grpcio==1.32.0
h5py @ file:///tmp/build/80754af9/h5py_1593454121459/work
idna==2.10
importlib-metadata @ file:///tmp/build/80754af9/importlib-metadata_1602276842396/work
importlib-resources==3.3.0
install==1.3.5
isodate==0.6.0
jdcal==1.4.1
joblib==0.17.0
Keras==2.3.1
Keras-Applications @ file:///tmp/build/80754af9/keras-applications_1594366238411/work
keras-bert==0.80.0
keras-contrib @ git+https://www.github.com/keras-team/keras-contrib.git@3fc5ef709e061416f4bc8a92ca3750c824b5d2b0
keras-embed-sim==0.7.0
keras-layer-normalization==0.14.0
keras-multi-head==0.22.0
keras-pos-embd==0.11.0
keras-position-wise-feed-forward==0.6.0
Keras-Preprocessing==1.1.2
keras-self-attention==0.41.0
keras-transformer==0.31.0
kiwisolver==1.2.0
lqrt==0.3.3
Markdown @ file:///tmp/build/80754af9/markdown_1603216459557/work
matplotlib==3.3.2
memory-profiler==0.58.0
mkl-fft==1.2.0
mkl-random==1.1.0
mkl-service==2.3.0
numpy==1.19.2
oauthlib==3.1.0
opencv-python==4.6.0.66
openpyxl==3.0.5
pandas==1.1.3
patsy==0.5.1
pdfminer.six==20211012
pdfplumber==0.6.0
Pillow==8.4.0
promise==2.3
protobuf==3.13.0
psutil==5.7.2
pyasn1==0.4.8
pyasn1-modules==0.2.8
pyclustering==0.10.0.1
pycparser==2.21
pydicom==2.3.0
pyemd==0.5.1
pyparsing==2.4.7
python-dateutil==2.8.1
pytorch-lightning==1.0.3
pytz==2020.1
PyYAML==5.3.1
rdflib==5.0.0
requests==2.24.0
requests-oauthlib==1.3.0
rsa==4.6
scikit-learn==0.21.3
scipy==1.5.3
seaborn==0.11.0
sentencepiece==0.1.92
six==1.15.0
sklearn==0.0
smart-open==3.0.0
soupsieve==2.0.1
statsmodels==0.12.0
termcolor==1.1.0
threadpoolctl==2.1.0
torch==1.6.0
torchvision==0.7.0
tqdm==4.50.2
typing-extensions==3.7.4.3
urllib3==1.25.11
Wand==0.6.10
Werkzeug==1.0.1
wrapt==1.12.1
xlrd==1.2.0
zhon==1.1.5
zipp @ file:///tmp/build/80754af9/zipp_1603306325174/work
